/* Add this to your LandingPage.css */

body, html {
  height: 100%; /* Ensures full height for the page */
  margin: 0; /* Removes default margin to prevent extra spacing */
}

main {
  min-height: 80vh; /* Ensures the main content takes up at least 80% of the viewport height */
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


/* Custom hover effect for nav links */
.nav-link {
    text-decoration: none;
    color: white !important;  /* Default color */
    transition: all 0.3s ease;  /* Smooth transition */
}

.nav-link:hover {
    color: #88ccf1 !important;  /* Hover color */
}
